<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CoordinationConnection" connectionString="data source=localhost;initial catalog=Coordination;persist security info=True;user id=sa;password=12345" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>